# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.FunFair.CodeAnalysis.iml
# Datasource local storage ignored files
/../../../../../../../:\Work\funfair-server-code-analysis\src\.idea\.idea.FunFair.CodeAnalysis\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
